/*
*{
  font-size: 30px;
  text-align: center;
  height: 10000px;
}
.header{
  background-color: rgb(126, 126, 126);
  height: 50px;
  margin-bottom: 5px;
}

.sidebar1{
  width: 15%;
  background-color: tomato;
  float: left;
  min-height: 500px
}

.sidebar2{
  width: 15%;
  background-color: tomato;
  float: left;
  min-height: 500px;
}
.content{
  width: 69%;
  background-color:rgb(255, 160, 7);
  float: left;
  min-height: 500px;
  margin-left: 0.5%;
  margin-right: 0.5%;
}
*/